---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Page Not Found - Sam Julien">
  <div class="max-w-4xl mx-auto px-4">
    <h1 class="text-xl mb-6">
      Yikes!{' '}
      <span role="img" aria-label="grimace emoji">
        😬
      </span>
    </h1>
    <p class="mb-6">You just hit a route that doesn't exist...Sorry!</p>
    <a 
      href="/" 
      class="inline-block bg-brand hover:bg-brand-dark text-white font-bold py-2 px-4 rounded transition-colors"
    >
      &larr; Back to Safety
    </a>
  </div>
</Layout>