---
import { getCollection, render } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { format } from 'date-fns';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout 
  title={`${post.data.title} - Sam Julien`}
  description={post.data.description}
  image={post.data.ogimage}
>
  <article class="prose lg:prose-xl max-w-none">
    <h2>{post.data.title}</h2>
    <time class="text-gray-600 block mb-8">
      Last updated: {post.data.date_updated ? format(post.data.date_updated, 'MMMM yyyy') : format(post.data.date, 'MMMM yyyy')}
    </time>
    <Content />
  </article>
</Layout>