---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Thanks for subscribing! - Sam Julien" noFooter>
  <div class="flex-1 flex items-center justify-center text-center px-5">
    <div class="max-w-screen-md">
      <h2 class="text-4xl leading-tight">
        Thanks for subscribing!{' '}
        <span role="img" aria-label="tada emoji">🎉</span>{' '}
        You'll hear from me soon.
      </h2>
      <a href="/" class="mt-16 block text-brand hover:text-brand-dark">
        Take me home!
      </a>
    </div>
  </div>
</Layout>