---
---
<section class="py-12 border-b border-gray-200 dark:border-gray-700">
  <h1 class="lg:text-5xl text-4xl font-bold mb-4">Hi, I'm Sam! 👋</h1>
  <div class="prose prose-lg dark:prose-invert">
    <p>
      It's really nice to meet you. I'm an experienced Director of Developer Relations (currently at <a href="https://writer.com" target="_blank">Writer</a>, previously at <a href="https://auth0.com" target="_blank">Auth0/Okta</a>), a devtools startup advisor and investor,
      an instructor for <a href="https://egghead.io" target="_blank">egghead</a>, and the author of <a href="http://www.gettingstartedindevrel.com" target="_blank">Getting Started in Developer Relations</a>. I live in the PNW with my family and our scruffy dog and love spending time outside whenever I can. You learn about what I'm up to at my <a href="/now" class="text-brand hover:text-brand-dark">now page</a> and what gear and software I'm using at my <a href="/uses" class="text-brand hover:text-brand-dark">uses page</a>.
    </p>
    <p>
      Growing as an organization leader, a manager, a developer, or a developer advocate is not easy. I'm here to help you 
      as best I can, not by giving you vague motivational speeches, but by sharing practical <strong>microskills</strong> 
      that compound and become transformative.
    </p>
  </div>
</section>