---
import NewsletterForm from './forms/NewsletterForm.tsx';
---

<div class="bg-gray-100 dark:bg-gray-800 p-8 rounded-lg">
  <div id="signup-form">
    <h2 class="text-2xl font-bold mb-4">Project list gathering dust? 👀</h2>
    <p class="mb-6">
      Drop me a line below so I can send you the Tiny Experiments framework and worksheet. You'll also join over 2500 other devs and dev advocates on the Developer Microskills newsletter.
    </p>
    <NewsletterForm client:load />
  </div>
</div>