---

---
<div class="rounded bg-purple-50 dark:bg-purple-900/30 p-5 dark:text-gray-100">
    If you're looking to learn Gatsby from scratch, I have a 90+ video course
    called{' '}
    <span class="font-bold">
      <a href="https://learn.samjulien.com/up-and-running-with-gatsby">
        Up and Running with Gatsby
      </a>
    </span>
    . Check it out!
</div>